body {
	padding-bottom: 100px;
	background-color: lightblue;
}
.head{
	margin-top: 5%; 
}


.productName{
	margin-left: 40%;
	font-family: Times;
	letter-spacing: 5px;
	font-size: 200%;
}
.producbox-container {
	display: inline-block;
	width: 300px;
	text-align: center;
	font-family: Georgia;
}

.product-list-container {
	margin: 0 auto;
	width: 950px;
}

.fa.fa-shopping-cart {
	float: right;
	margin-right: 100px;
	margin-top: -50px;
	color: black;
}

.fa.fa-shopping-cart:before {
	font-size: 60px;
	
}
.productbox-details{
	display: inline-block;
	width: 300px;
}

.fa.fa-plus-square,.fa.fa-minus-square{
	float : right;
}
.fa.fa-plus-square,.fa.fa-minus-square:before{
	font-size: 30px;
	margin-left: 5px;
	margin-right: 10px;
	cursor      : pointer;
}
button{
  background  : transparent;
}

.plus_button{
	color: green;
}
.minus_button{
	color: red;
}
span{
	float: right;
	margin-right: 40px;
}

.Flip-Cart-logo h1{
	font-family: impact;
	text-decoration: underline;
	letter-spacing: 5px;
}

h2{
	font-family: Georgia;
}

.empty_cart h1{
    text-align: center;
    margin-top: 113px;
    font-size: 50px;
    font-family: Georgia;
}
.empty_cart h4{
	text-align: right;
	font-size: 20px;
	font-family: calibri;
}

.productbox-quantity{
	display: inline-block;
}

.product_desc_page{
	margin-top: 50px;
}

.product_img_div{
	margin-left: 220px;
	margin-top: -240px;
}

.related_product_class{
	margin-top: 80px;
}

table,th,td{
	border : 3px solid black;
	width: 50%;
	height: 50px;
	text-align: center;
	font-family: verdana;
	font-size: 20px; 
    width: -webkit-fill-available
}

.Buy button {
    width: 363px;
    float: right;
    margin-top: -49px;
    height: 48px;
    color: black;
    background-color: black;
    border-width: thick;
    border-color: orangered;
    font-size: 30px;
    font-family: fantasy;
    color: orangered;
}
.buying_image{
	width: 156px;
    margin-left: 383px;
    margin-top: -411px;
}

tr:hover {background-color: #f5f5f5;}
.Buy{
	float: right;
}
.cart_table_div{
	margin-top: 60px;
}

.Flip-Cart-logo{
	color: black;
}

input[type="text"] {
    width: 236px;
    display: list-item;
    margin-bottom: 1px;
    background-color: papayawhip;
    margin-left: 20px; 
}

.Buyingitems{
	margin-top: 50px;
}

input[type="submit"] {
    width: 127px;
    background-color: black;
    margin-left: 128px;
    margin-top: 24px;
    color: white;
}
.submit_div button {
    width: 170px;
    margin-left: 20px;
    margin-top: 24px;
    height: 54px;
    color: white;
    font-size: 30px;
    background-color: teal;
    border-width: thick;
    border-color: papayawhip;
    font-family: Times;
}

.buying_detail h1 {
    margin-left: 420px;
    margin-top: -20%;
    font-size: 50px;
    color: black;
    font-style: oblique;
    font-family: serif;
}
input::-webkit-input-placeholder{
	color: black;
	text-indent: 5%;
}

.Buyingitems h1{
    font-size: 40px;
    color: black;
    font-style: oblique;
    font-family: serif;
}
.related_product_class h3 {
    font-family: Times;
    font-size: 41px;
    margin-top: 10%;
}

.rel_productbox-details i{
	
}